body {
  height: 100vh;
  width: 100vw;
  font-family: Open Sans, sans-serif;
}

/* Top section */

.container-top {
  text-align: center;
  height: 250px;
  padding-top: 1.1rem;
  background-color: #E5F3F2;
}

span {
  font-size: 2.5em;
  font-weight: 700;
}

input button {
  display: block;
  margin: 0 auto;
}

.input {
  width: 46vw;
  height: 28px;
  margin-top: .9rem;
  font-family: 'Open Sans', sans-serif;
  color: #D1D3D4;
  font-size: 1.3em;
  padding-left: .5rem;
  border: 1px solid #939598;
}

.title-one {
  color: #00A79D;
  font-weight: bold 700;
  padding-top: 30px;
  padding-bottom: 0px;
}

.title-two {
  color: #6D6E71;
  font-weight: bold 700;
  padding-top: 0;
  padding-bottom: 0;

}

.save {
  background-color: #00A79D;
  color: #FFF;
  text-align: center;
  height: 32px;
  font-family: 'Open Sans', sans-serif;
  font-size: 1em;
  width: 46.5vw;
  margin-top: 20px;
}

.save:hover {
  background-color: #045E55
}

.container-bottom {
  background-color: white;
  margin-top: 15px;
}

#search {
  width: 46vw;
  height: 28px;
  font-family: 'Open Sans', sans-serif;
  color: #D1D3D4;
  font-size: 1.3em;
  display: block;
  margin: 0 auto;
  margin-top: 1.4rem;
  padding-left: .5rem;
  border: 1px solid #939598;
}

article {
  margin-left: 17.8vw;
  margin-right: 16.7vw;
  margin-top: 20px;
  color: #D1D3D4;
}

.inportance {
  color: #6D6E71;
  font-size: 1.1rem;
  margin-bottom: 30px;
  margin-top: 12px;
}

.cards {
  width: 46vw;
  border-bottom-style: solid;
  border-width: 2px;
  border-color: #D1D3D4;
  margin-left: 8.8vw;
  margin-right: 16.7vw;
  margin-top: 20px;
  color: #D1D3D4;
}

.completed {
  opacity: .3;
}

.delete-button-header {
  float: right;
}

.delete-button-header:hover {
  content: url(FEE-ideabox-icon-assets/delete-hover.svg);
}

img {
  width: 30px;
  height: 30px;
}

p {
  text-align: left;
  display: inline-block;
}

.description {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.2rem;
  color: #939598;
  width: 46vw;
}

.downvote {
  margin-right: 25px;
  margin-left: 20px;
  padding-top: 11px;
}

.upvote {
  padding-top: 11px;
}

.upvote:hover {
  content: url(FEE-ideabox-icon-assets/upvote-hover.svg);
}

.downvote:hover {
  content: url(FEE-ideabox-icon-assets/downvote-hover.svg);
}


@media only screen and (max-width: 440px) {

  .downvote {
    margin-right: 10px;
    margin-left: 10px;
  }

  .idea-head {
    font-size: 1.3em;
  }
}


